// Variables
$font-family-primary: "Montserrat", sans-serif;
$font-family-secondary: "Great Vibes", cursive;
$primary-color: #4f1a1c;
$accent-color: #c6a24f;
$accent-color-2: #967432;
$white-color: white;
$accent-text-color: #4f5b3f;
$time-box-bg: white;
